<div class="content-header">
  <h3>{{page.headlinePrimary}}</h3>
  <p>{{page.headlineSecondary}}</p>
</div>

<main role="main" class="container-fluid">
  <div class="row">
    <div class="col-md-8" style="padding: 45px;">
      <h5>Send me a Message</h5>
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email"> </div>
          <div class="form-group col-md-6">
            <label for="inputName" class="sr-only">Your Name</label>
            <input type="text" class="form-control" id="inputName" placeholder="Your Name"> </div>
        </div>
        <div class="form-group">
          <label for="inputPhone" class="sr-only">Phone</label>
          <input type="text" class="form-control" id="inputPhone" placeholder="Phone"> </div>
        <div class="form-group">
          <label for="inputConpany" class="sr-only">Conpany</label>
          <input type="text" class="form-control" id="inputConpany" placeholder="Conpany"> </div>
        <div class="form-group">
          <label for="textareaMessage" class="sr-only">Message</label>
          <textarea class="form-control" id="textareaMessage" rows="5" placeholder="Message"></textarea> </div>
        <button type="submit" class="btn btn-lg btn-outline-success"> Send Message
          <i class="fa fa-chevron-right"></i>
        </button>
      </form>
    </div>
    <div class="col-md-4" style="background: #253a35; padding: 45px; color: #fff;">
      <h4>Contact Details</h4>
      <address>
        <p class="mb-1">
          <strong>Ramiz Loki</strong>
        </p>
        <p class="mb-1">Schillerstr. 33</p>
        <p class="mb-1">33609 Bielefeld</p>
        <p class="mb-1">
          <abbr title="Phone">P:</abbr> (+49) 172 - 9244410</p>
        <p class="mb-1">
          <a href="mailto:mail@ramizloki.com">mail (at) ramizloki.com</a>
        </p>
      </address>
    </div>
  </div>
</main>
